nav{
	
}

#langue{
	#langue-menu{
		width:100%;
		height:50px;
		background-color:#961e1e;
		.dropdown{
			text-transform:uppercase;
			color: white;
			position: absolute;
		    width: 100px;
		    text-align: right;
		    padding-top: 15px;
		    right:0;
		}
		.curr-locale{
			padding-right:15px;
		}
		.dropdown-menu{
			padding-right: 15px;
			background-color:#961e1e;
			display:none;
			&.active{
				display:block;
			}
			.other-locals{
				margin-top: 15px;
				li{
				    height: 25px;
				}
			} 
		}
	}
}