#ignore node_modules
tano/src/node_modules/

#ignore sass_cache
tano/src/node_modules/.sass-cache

#ignore phpstorm
.idea/

#ignore platforms
tano/tano/platforms/*
tano/tano/plugins/ios.json
tano/tano/plugins/android.json
